body {
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 1440px;
    background-color: #0E0E0E;
}

main {
    width: 771px;
    margin-left: 335px;
}

ul {
    list-style-type: none;
}

p {
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 23px;
}

a {
    font-weight: 300;
    font-size: 18px;    
    color: white;
    text-decoration: none;
}

h2 {
    margin: 0px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
}

.wrapper {
    width: 574px;
}

.primary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.9);
    background-image: url("img/bg/primary-bg.png");
}

.ico {
    display: block;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.tg-ico {
    background-image: url("img/icons/telegram.png");
}

.gh-ico {
    background-image: url("img/icons/github.png");
    background-position: -3px;
}

.social-links {
    display: flex;
    flex-direction: column;
    padding-left: 15px;

    color:white;
    font-size: 20px;
    font-weight: 400;
}

.social-links li {
    display: flex;
    padding-bottom: 10px;
    /* align-content: left; */
}

.vline-container {
    height: 144px;
    box-sizing: border-box;
    padding-right: 15px;
    border-right: 3px solid white;
}

.name {
    white-space: nowrap;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 1px;
    font-size: 25px;
}

.contacts {
    width: 360px;
    margin-top: 76px;
    margin-left: 20%;
    margin-bottom: 10%;
    align-self: center;
    display: flex;
}

.contacts__content {
    padding: 10px 0px 0px 35px;
}

.info {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separator {
    background-color: white;
    color: white;
    border-color: white;
    width: 100%;
}

.skills {
    padding-bottom: 60px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/bg/skills-bg.png");
}

.skills p {
    font-size: 13px;
}

.layout-3-cols {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.projects {
    padding-top: 10px;
    min-height: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/bg/project-bg.png");
}

.projects ul li {
    margin-bottom: 25px;
}

.ico-drop {
    width: 15px;
    height: 19px;
    background-image: url("img/icons/drop.svg");
    background-position: 10px;
}

.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/bg/education-bg.png");
}

.code {
    padding-top: 10px;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(5, 5, 5,0.9); 
}

.js-code {
    font-size: 15px;
}

.education__items li {
    padding-bottom: 10px;
}